# Артефакты сборки
build/
*.hex
*.elf
*.eep

# Visual Studio / Visual Micro
.vs/
__vm/
*.user
*.suo
UpgradeLog*.htm
UpgradeLog*.XML
Backup*/
_UpgradeReport_Files/

# Node
node_modules/

# ОС
Thumbs.db
.DS_Store
