<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwException="true" publicLogToConsole="true">
  <variable name="verbose" value="${date:format=MM.dd HH\:mm\:ss.fff} ${uppercase:${level}:padding=-5} ${pad:padding=-60:fixedLength=false:inner=[${threadid}]${callsite:className=False:fileName=True:includeSourcePath=False:methodName=True:cleanNamesOfAnonymousDelegates=False}} ${message} ${when:when=level==LogLevel.Fatal:inner=${newline}${stacktrace:format=DetailedFlat:separator=&#13;&#10;}} ${onexception:${newline}${exception:maxInnerExceptionLevel=10:format=shortType,message}}"/>
  <variable name="verbose_inline" value="${replace:inner=${verbose}:searchFor=\\r\\n|\\n:replaceWith=&#13;&#10;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;:regex=true}"/>

  <variable name="verboseFe" value="${date:format=MM.dd HH\:mm\:ss.fff} ${uppercase:${level}:padding=-5} ${message}"/>
  <variable name="verboseFe_inline" value="${replace:inner=${verboseFe}:searchFor=\\r\\n|\\n:replaceWith=&#13;&#10;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;&#32;:regex=true}"/>


  <targets async="true">
    <target name="console" xsi:type="ColoredConsole" layout="${verbose_inline}"/>
    <target name="asyncFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
      <target name="file" xsi:type="File" fileName="${basedir}/log/Service.log"
       layout="${verbose_inline}"
         maxArchiveFiles="50"
         archiveAboveSize="10485760"
         archiveNumbering="Rolling"
         concurrentWrites="true"
         keepFileOpen="false"
         enablearchivefilecompression="true"
         archiveFileName="${basedir}/log/service.{##}.zip"/>
    </target>   
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console,asyncFile" />
  </rules>

</nlog>
